<head>
  <style>
    .navbar-custom {
      background-color: #005EB8;
    }
    .footer {
      background-color: #FFE400;
      color: yellow;
      padding: 20px;
      text-align: center;
    }
    
    .footer a {
      color: blue;
      text-decoration: none;
    }
    
    .footer a:hover {
      text-decoration: underline;
    }
  </style>
  
  <title>Foro - Página de Inicio</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/Imagenes/Logo_DuocUC.svg.png" alt="Logo" width="170" height="50" class="d-inline-block align-text-top">
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-secondary" routerLink="crear-pub">Crear publicación</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary" routerLink="login">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </nav>



  <div class="container">
      <h2>Publicaciones Recientes</h2>
      <div class="post">
        <h3 class="post-title">Título de la publicación</h3>
        <p class="post-content">Contenido de la publicación...</p>
        <span class="post-date">Fecha de publicación: 10 de enero de 2022</span>
      </div>
  </div>

  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Síguenos en <a href="https://www.instagram.com/duocuc.cl/">Instagram</a> | Sitio web de Duoc UC: <a href="https://www.duoc.cl/">www.duoc.cl</a></span>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

  