<div class="container">
  <div class="form-container">

    <a class="imgnav"><img src="assets/Imagenes/Logo_DuocUC.svg.png" alt="" height="50px"></a>
    <div
      style="
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 20px;
      "
    >
  
      <button
        style="
          padding: 10px 20px;
          font-size: 18px;
          background-color: #333;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        "
        routerLink="../"
      >
        Volver
      </button>
    </div>
    <h2>Subir Publicación</h2>
    <form method="post">
      <label for="titulo">Título:</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        requiredcad
        placeholder="¿Cual es la idea?"
      />
      <br>
      <form action="">
        <label for="Temas">Selecciona un tema</label>
        <select name="Temas" id="temas">
          <option value="Tema">Selecciona un tema</option>
          <option value="General">General</option>
          <option value="Informatica">Informatica</option>
          <option value="IntegPlataformas">Integracion de plataformas</option>
          <option value="Programacion">Programacion</option>
          <option value="DesWeb">Desarollo web</option>
          <option value="GestionAgil">Gestion agil</option>
          <option value="ProgAlgoritmos">Programacion de algoritmos</option>
        </select>
      </form>
      <br>
      <label for="contenido">Contenido:</label>
      <textarea
        id="contenido"
        name="contenido"
        rows="4"
        required
        placeholder="Desarrolla la idea"
      ></textarea>

      <input type="submit" value="Subir Publicación" onclick="swal()" />
    </form>
  </div>
</div>


