
<div class="login-container">
    <a class="imgnav"><img src="assets/Imagenes/Logo_DuocUC.svg.png" alt="" height="35px"></a>
      <br>
      <br>
      <h2>Iniciar sesión</h2>
      <form [formGroup]="formlogin" (submit)="login()">
        <label for="username"  >Correo:</label>
        <input type="email"  formControlName="correo" id="correo" name="username" required>
        <p class="text-danger" *ngIf="formlogin.get('correo')?.touched && formlogin.get('correo')?.errors?.['required']">Este
          campo es requerido</p>
    
        <label for="password">Contraseña:</label>
        <input type="password" formControlName="password" id="password" name="password" required>
        <p class="text-danger" *ngIf="formlogin.get('password')?.touched && formlogin.get('password')?.errors?.['required']">Este
          campo es requerido</p>
  
       
       <div class="contraseña_olvidada">
        <p>¿Has olvidado tu contraseña?</p>
        <a href=''>Recuperar contraseña</a>
       </div>
       <br>
      
      
        <button type="submit">Iniciar sesión</button>
      </form>
  
  
      
    </div>
